@font-face {
  font-family: MillerBannerLight;
  src: url("./fonts/MillerBannerLight.otf") format("opentype"); }

html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: MillerBannerLight;
  color: #202020;
  font-weight: 200; }

a {
  text-decoration: none;
  color: inherit; }

p, a, select {
  font-family: 'Helvetica';
  color: #202020;
  font-weight: 200; }

hr {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2px;
  width: 90%;
  background: lightgrey;
  border-radius: 20px; }

.salon-list-section .select-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 1rem; }
  .salon-list-section .select-wrapper svg {
    position: absolute;
    right: 1rem;
    z-index: 1; }

.salon-list-section select {
  z-index: 1000;
  border: none;
  border-radius: 0%;
  width: 100%;
  height: 3rem;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem; }

.salon-list-section ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0; }
  .salon-list-section ul li {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
    width: 100;
    cursor: pointer; }
    .salon-list-section ul li:nth-child(2) {
      border-top: 1px solid #B69F58; }
    .salon-list-section ul li h4 {
      margin: 0.75rem 0 0 0;
      font-size: 20px;
      font-weight: 400; }
    .salon-list-section ul li p {
      font-size: 15px;
      font-family: 'Helvetica'; }
      .salon-list-section ul li p.salon-time-p {
        margin-bottom: 4rem; }
  .salon-list-section ul .salon-list-item-content-center {
    margin-left: -10%; }
  .salon-list-section ul .salon-list-item-content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: -10%;
    height: 4rem; }
    .salon-list-section ul .salon-list-item-content-right :first-child {
      font-weight: 400;
      margin-top: 0; }
    .salon-list-section ul .salon-list-item-content-right :last-child {
      font-weight: 200;
      font-size: 13px;
      margin-top: 0; }

@font-face {
  font-family: MillerBannerLight;
  src: url("./fonts/MillerBannerLight.otf") format("opentype"); }

html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: MillerBannerLight;
  color: #202020;
  font-weight: 200; }

a {
  text-decoration: none;
  color: inherit; }

p, a, select {
  font-family: 'Helvetica';
  color: #202020;
  font-weight: 200; }

hr {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2px;
  width: 90%;
  background: lightgrey;
  border-radius: 20px; }

header {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #B69F58; }
  header h1 {
    font-family: MillerBannerLight; }
  header svg {
    margin: 0 1rem; }

.single-salon-section {
  height: 100vh;
  width: 100%; }
  .single-salon-section .single-salon-hero {
    height: 37vh;
    width: 100%;
    background-image: url("./images/hair.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; }
    .single-salon-section .single-salon-hero h2 {
      margin: 0 0 1rem 1rem;
      padding: 0;
      color: white; }
    .single-salon-section .single-salon-hero svg {
      position: absolute;
      top: 1.5rem;
      left: 1rem; }
  .single-salon-section .info-shedule-switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .single-salon-section .info-shedule-switcher div {
      cursor: pointer;
      width: 50%;
      text-align: center; }
      .single-salon-section .info-shedule-switcher div h3 {
        font-family: 'Helvetica';
        font-weight: 200;
        font-size: 1rem; }
      .single-salon-section .info-shedule-switcher div.is-active {
        border-bottom: 2px solid #B69F58; }
  .single-salon-section .salon-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .single-salon-section .salon-info-section div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      min-height: 4rem;
      width: 90%;
      position: relative; }
      .single-salon-section .salon-info-section div svg {
        height: 1rem;
        width: 1rem;
        display: inline-block; }
      .single-salon-section .salon-info-section div a, .single-salon-section .salon-info-section div p {
        font-size: 15px;
        margin: 000 1rem; }
        .single-salon-section .salon-info-section div a :last-child, .single-salon-section .salon-info-section div p :last-child {
          border: none; }
      .single-salon-section .salon-info-section div hr {
        width: 100%; }
      .single-salon-section .salon-info-section div:last-child hr {
        border: none; }
